@page "/destination/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Destination</h3>
<hr />
<br />

<FormComponent ButtonText="Create Destination →" destination="destination" OnValidSubmit="@CreateDestination" />

@code {
	Destination destination = new Destination();

	private async Task CreateDestination()
	{
		await _client.PostAsJsonAsync(Endpoints.DestinationEndpoint, destination);
		_navManager.NavigateTo("/customers/create/");
	}
}