@page "/traveldocs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Travel Document</h3>
<hr />
<br />

<FormComponent ButtonText="Create Travel Document →" traveldocs="traveldocs" OnValidSubmit="@CreateTravelDocs" />

@code {
	TravelDocs traveldocs = new TravelDocs();

	private async Task CreateTravelDocs()
	{
		await _client.PostAsJsonAsync(Endpoints.TravelDocsEndpoint, traveldocs);
		_navManager.NavigateTo("/destination/create/");
	}
}