@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation


<div>
    <h3 class="main">YouVoyage</h3>
</div>

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" class="btn btn-login-yv btn-block">Hello, @context.User.Identity?.Name!</a>
        <button class="btn btn-login-yv btn-block" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register" class="btn btn-login-yv btn-block">Register</a>
        <a href="authentication/login" class="btn btn-login-yv btn-block">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
